body {
    margin: 0;
    padding: 0;
}





.container {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 40%;
}



.container2 {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 42%;
    left: 49%;
    display: none;
}


.menu__elem {
    width: 100%;
    height: 25%;
    background-color: #D45151;
    border: 1px solid black;
    color: white;
    text-align: center;
}

.menu__elem:hover {
    background-color: red;
    transition: ease-in;
    transition-duration: 0.3s;
    cursor: pointer;
}

.material-icons {
    position: relative;
    top: -162px;
    left: 182px;
    cursor: pointer;
    color:yellow;
}

.material-icons:hover {
    transition-duration: .3s;
    color:orange;
}